@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-primary-dark-bg: #212122;
  --color-accent: #ffc300;
  --color-primary-600: #cc4527;
  --color-br-neutral: #525252;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

@layer base {
  :root {
    color-scheme: dark;
  }
  html, body {
    @apply bg-neutral-900 text-neutral-200;
  }
}
