@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
    --color-primary-dark-bg: #212122;
    --color-accent: #ffc300;
    --color-primary-600: #cc4527;
    --color-br-neutral: #525252;
}


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  /* font-family: Arial, Helvetica, sans-serif; */
}

@layer base {
  :root {
    color-scheme: dark;
  }
  html, body {
    @apply bg-neutral-900 text-neutral-200;
  }
}
